/* COLORS */
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #1e1e1e40;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-lightgrey: #fafafa;

$color__semiblack: #1e1e1e;

$color__text-screen: #000;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;
$color__white_text: #fff;
$color__grey_text: #9a9a9a;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #1e1e1e40;
$color__border-abbr: #666;
$color__border-media: #1e1e1e10;
$color__desc-media: #1e1e1e80;
$color__lightest-grey: #1e1e1e05;

/* BOX-SHADOWS */
$box-shadow_standard: 0 0px 15px 5px rgb(0 0 0 / 10%),
	0 0px 6px 0px rgb(0 0 0 / 5%);

/* TYPOGRAPHY */
$font__main: "Monda", sans-serif;
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

/* STRUCTURE */
$size__site-main: 100%;
$size__site-sidebar: 25%;

/* RWD */
$break__medium: 40.063em;
$break__large: 64.063em;

/* Common values */
$post_up_distance--mobile: -1.5rem;
$post_up_distance--desktop: -6.5rem;

$header_height_desktop: 9rem;
$header_height_mobile: 5rem;

/* TRANSITIONS */

$transition_regular: all 0.3s ease-in-out;
