.blog-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 4.5em;
	margin: 3em 0;
	grid-row-gap: 5em;

	@media screen and (max-width: 992px) {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-row-gap: 2em;
	}
}

.job-offers-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 2em;
	margin: 3em 0;
	grid-row-gap: 5em;

	@media screen and (max-width: 992px) {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-row-gap: 2em;
	}
}

.entry-header-blog {
	margin-top: 6em;
	text-align: center;
}

.media-grid {
	display: flex;
	flex-flow: column;

	border-top: 1px solid $color__border-media;
	border-bottom: 1px solid $color__border-media;

	// grid-template-columns: 1fr 1fr;
	// column-gap: 1em;
	// grid-row-gap: 1em;

	// @media screen and (min-width: 992px) {
	// 	grid-template-columns: 1fr 1fr 1fr;
	// 	column-gap: 4.5em;
	// 	margin: 3em 0;
	// 	grid-row-gap: 2em;
	// }
}

.blog-grid-home,
.media-grid-home,
.blog-grid-blog {
	// width: 70%;
	margin: auto;
	// height: 60%;

	@media screen and (max-width: 992px) {
		height: 100%;
	}
}

.blog-post {
	position: relative;
	height: 14em;
	width: 100%;
	background-size: cover;
	display: flex;

	text-align: center;
	text-decoration: none;
	border: 1px solid $color__border-input;
	opacity: 0;
	transition: all 0.4s ease-in;
	margin: auto;

	@media screen and (min-width: 992px) {
		height: 30em;
		flex-flow: column;
	}

	h3 {
		width: 100%;
	}

	&__upper {
		width: 50%;
		height: 100%;
		margin-bottom: 0 !important;
		background-size: cover;
		background-position: center;

		@media screen and (min-width: 992px) {
			height: 50%;
			width: 100%;
		}
	}

	&__date {
		width: 100%;
		height: 10%;
		display: block;
		text-align: left;

		@media screen and (max-width: 992px) {
			@include fluid-type($min_width, $max_width, 11px, 12px);
		}
	}

	&__caption {
		align-self: flex-end;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		z-index: 2;
		width: 60%;
		height: 100%;
		padding: 1.5em;
		text-overflow: ellipsis;
		overflow: hidden;

		@media screen and (max-width: 350px) {
			padding: 1em;
		}

		@media screen and (max-width: 992px) {
			align-self: center;
		}

		@media screen and (min-width: 992px) {
			height: 50%;
			width: 100%;
		}

		h3 {
			text-align: left;
			overflow: hidden;
			height: 60%;
			width: 100%;
			color: $color__text-screen;
			@include fluid-type($min_width, $max_width, 14px, 16px);
		}
	}

	.read-more {
		height: 10%;
		margin-bottom: 0;
	}

	&:hover {
		.read-more {
			color: $color__text-screen;
		}
	}
}

.media-post {
	// padding: 1.5em 1em 0em;
	padding: 1em;
	transition: all 0.2s ease-in-out;
	display: flex;
	// justify-content: center;
	align-items: center;
	// min-height: 7em;
	width: 100%;
	text-align: center;
	text-decoration: none;
	border-bottom: 1px solid $color__border-media;

	&:hover {
		p {
			color: black;
		}
	}

	&:last-child {
		border-bottom: 0px solid $color__border-media;
	}

	@media screen and (max-width: 992px) {
		flex-flow: column;
	}

	@media screen and (min-width: 992px) {
		padding: 10px 0;

		// &:hover {
		// 	transform: scale(1.1);
		// }
	}

	&__title {
		// height: 3em;
		// line-height: 3em;

		font-weight: 400;
		width: 12em;

		// text-overflow: ellipsis;
		// overflow: hidden;
		align-self: stretch;
		display: flex;
		// justify-content: center;
		align-items: center;

		@media screen and (max-width: 992px) {
			margin-bottom: 1em;
			justify-content: center;
			width: 100%;
		}

		@media screen and (min-width: 992px) {
			max-width: 30%;
			text-align: left;
			padding: 10px 0px;
			padding-right: 1em;
			border-right: 1px solid $color__border-media;
		}

		h3 {
			margin-top: 0;
		}
	}

	p {
		margin: 0;
		transition: all 0.3s ease-in;
		color: $color__desc-media;

		@media screen and (min-width: 992px) {
			padding-left: 2rem;
			max-width: 70%;
			text-align: left;
		}
	}
}

.post-wrapper {
	display: flex;
	flex-flow: column;
	justify-content: space-between;

	p {
		@include fluid-type($min_width, $max_width, 12px, 14px);
	}
}

.blog__read-more {
	margin-top: 6em;
}

section.media-posts {
	// background: $color__background-lightgrey;
	padding: 2em 5% 4em 5%;

	@media screen and (min-width: 992px) {
		padding: 4em 18% 8em 18%;
	}
}

.allPostsHeader--up {
	animation: allPostsHeaderSlideIn 1.2s forwards;

	@keyframes allPostsHeaderSlideIn {
		0% {
			transform: translate(0, 2em);
			opacity: 0.9;
		}

		75% {
			transform: translate(0, 0em);
			opacity: 1;
		}

		100% {
			transform: translate(0, 0em);
			opacity: 1;
		}
	}
}

.all-posts-loaded {
	opacity: 1;
}
