/* POSTS AND PAGES */
.sticky {
	display: block;
}

// .post,
// .page {
// 	margin: 0 0 1.5em;
// }

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
	text-align: justify;
}

.entry-content a {
	word-break: break-all;
}

::selection {
	background: rgba(0, 0, 0, 0.1); /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: rgba(0, 0, 0, 0.1); /* Gecko Browsers */
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* ASIDES */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* COMMENTS */

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.page-template-default,
.page-template-shareholding-structure-page-template,
.page-template-management-page-template {
	.subpage__content {
		@media screen and (max-width: 992px) {
			margin-top: 0;
		}
	}
}

.page-template-home-template {
	.section-header {
		text-align: center;
		@include fluid-type($min_width, $max_width, 18px, 22px);
		margin-bottom: 2.5em;
	}
}

.page-template-privacy-policy-page-template {
	.site-main {
		margin-top: 4rem;
	}
}

.page-template-contact-investors-page-template {
	.subpage__content {
		margin: 0 auto 4rem;
		text-align: center;
		max-width: 75%;
	}

	.contact-info {
		margin-top: 6rem;

		h3 {
			min-height: 4rem;
			margin-bottom: 1rem;
			@include fluid-type($min_width, $max_width, 24px, 24px);

			@media screen and (min-width: 992px) {
				min-height: 6rem;
			}
		}

		p {
			margin: 0 0 1rem;
		}
	}
}

.site-content {
	margin-top: $header_height_mobile;

	@media screen and (min-width: 992px) {
		margin-top: $header_height_desktop;
	}
}

.home .site-content {
	margin-top: 0;
}

.content__wrapper,
.content__wrapper--motionless {
	margin: auto;
	width: 90%;
	padding: 2em 1em;
	min-height: 20vh;

	background: $color__background-body;

	@media screen and (min-width: 992px) {
		padding: 3em 3em;
	}

	@media screen and (min-width: 1400px) {
		width: 60%;
		padding: 4em 5em;
	}

	@media screen and (min-width: 1600px) {
		width: 50%;
	}

	.entry-header {
		text-align: center;
	}

	// .entry-content {
	// 	text-indent: 2em;
	// }
}

.content__wrapper--motionless {
	transform: translate(0, $post_up_distance--mobile);

	.content__intro-text {
		margin-top: 0 !important;
	}

	@media screen and (min-width: 992px) {
		transform: translate(0, $post_up_distance--desktop);
	}
}

.content__wrapper--up {
	animation: postUp 1s forwards;

	@media screen and (min-width: 992px) {
		@keyframes postUp {
			0% {
				transform: translate(0, 0);
				opacity: 0.9;
			}

			75% {
				transform: translate(0, $post_up_distance--desktop);
				opacity: 1;
			}

			100% {
				transform: translate(0, $post_up_distance--desktop);
				opacity: 1;
			}
		}
	}

	@media screen and (max-width: 992px) {
		@keyframes postUp {
			0% {
				transform: translate(0, 0);
				opacity: 0.9;
			}

			75% {
				transform: translate(0, $post_up_distance--mobile);
				opacity: 1;
			}

			100% {
				transform: translate(0, $post_up_distance--mobile);
				opacity: 1;
			}
		}
	}
}

.subpage {
	&__header-image {
		// margin: 4em auto 0 auto;
		margin: 0em auto 0 auto;
		background-size: cover;
		background-repeat: no-repeat;
		height: 25em;
		background-position: center;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		width: 100%;

		@media screen and (max-width: 992px) {
			// margin: 1em auto 0 auto;
			height: 15em;
		}

		// @media screen and (min-width: 992px) {
		// 	width: 90%;
		// }

		// @media screen and (min-width: 1400px) {
		// 	width: 60%;
		// }

		&:before {
			content: "";
			background: rgba(0, 0, 0, 0.5);
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}

		h1 {
			color: $color__white_text;
			text-align: center;
			max-width: 90%;
			z-index: 1;
			margin-top: $post_up_distance--mobile;

			@media screen and (min-width: 992px) {
				margin-top: $post_up_distance--desktop;
			}
		}
	}

	.content__wrapper,
	.content__wrapper--motionless {
		// padding: 0;

		// @media screen and (min-width: 992px) {
		// 	padding: 4em 0;
		// }

		@media screen and (min-width: 1400px) {
			width: 90%;
			padding: 4em 5em;
		}

		@media screen and (min-width: 1600px) {
			width: 75%;
		}
	}

	.content {
		&__intro-text {
			padding: 0 1em 2.5em;
			text-align: center;
			margin: 0;

			@include fluid-type($min_width, $max_width, 18px, 24px);

			@media screen and (min-width: 992px) {
				margin-top: 4rem;
			}

			// @media screen and (min-width: 992px) {
			// 	padding: 0 1em 2.5em;
			// }
		}
	}

	&__content {
		@include fluid-type($min_width, $max_width, 16px, 20px);
		margin-top: 4rem;
	}
}

$main-color: #f0f0f0;
$secondary-color: #1d1f20;

@mixin display-child($n) {
	@for $i from 2 through $n {
		&:nth-child(#{$i}) {
			a {
				display: inline-block;
			}
		}
	}
}

.pagination-container {
	// background: lighten($main-color, 5%);
	padding: 1rem;
	margin: 3rem auto;
	border-radius: 0.2rem;
	// box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
	counter-reset: pagination;
	text-align: center;
	width: 100%;
	position: relative;

	&:after {
		clear: both;
		content: "";
		display: table;
	}

	ul,
	li {
		list-style: none;
		display: inline;
		padding-left: 0px;
		margin: 0;
	}

	ul {
		width: 100%;
		display: flex;
		justify-content: center;

		&:before {
			content: "";
			display: block;
		}
	}

	li {
		counter-increment: pagination;

		.prev {
			position: absolute;
			left: -0.5rem;
			padding: 0;
			// border: none;
			width: 42px;
			height: 42px;
			// @media screen and (max-width: 992px) {
			// 	bottom: -3rem;
			// }

			@media screen and (min-width: 992px) {
				left: 1rem;
			}

			&:after {
				content: ">";
				background: url(../dist/svg/arrow_left.svg);
				width: 42px;
				height: 42px;
				width: 100%;
				height: 100%;
				display: block;
				background-repeat: no-repeat;
				background-position: center;
				color: transparent;
				// font-size: 14px;
				transition: all 0.3s ease-in-out;
			}

			&:hover {
				// color: inherit;
				// background-color: inherit;
				// border: inherit;
				// transform: scale(1.05);
				&:after {
					filter: invert(100%) brightness(1000%);
				}
				// &:after {
				// 	filter: invert(82%) sepia(14%) saturate(1046%) hue-rotate(92deg)
				// 		brightness(450%) contrast(107%);
				// }
			}
		}

		.next {
			position: absolute;
			right: -0.5rem;
			padding: 0;
			// border: none;
			width: 42px;
			height: 42px;
			// @media screen and (max-width: 992px) {
			// 	bottom: -3rem;
			// }

			@media screen and (min-width: 992px) {
				right: 1rem;
			}

			&:after {
				content: ">";
				background: url(../dist/svg/arrow_right.svg);
				width: 42px;
				height: 42px;
				width: 100%;
				height: 100%;
				display: block;
				background-repeat: no-repeat;
				background-position: center;
				color: transparent;
				// font-size: 14px;
				transition: all 0.3s ease-in-out;
			}

			&:hover {
				// color: inherit;
				// background-color: inherit;
				// border: inherit;
				// transform: scale(1.05);
				&:after {
					filter: invert(100%) brightness(1000%);
				}
			}
		}

		&:nth-child(2) {
			counter-reset: pagination;
		}

		a {
			border: solid 1px darken($main-color, 10%);
			transition: all 0.3s ease-in-out;
			color: darken($main-color, 45%);
			text-decoration: none;
			text-transform: uppercase;
			display: inline-block;
			text-align: center;
			padding: 0.5rem 0.9rem;

			&:hover {
				color: lighten($main-color, 5%);
				background-color: $secondary-color;
				border: solid 1px $secondary-color;
			}
		}

		.current {
			color: lighten($main-color, 5%);
			background-color: $secondary-color;
			border: solid 1px $secondary-color;
			border-radius: 0.2rem;
			text-decoration: none;
			text-transform: uppercase;
			display: inline-block;
			text-align: center;
			padding: 0.5rem 0.9rem;
		}
		// a:after {
		// 	content: " " counter(pagination) " ";
		// }

		.dots {
			display: inline-block;
			text-align: center;
			padding: 0.5rem 0.9rem;
		}
	}
}

/* Relacje Inwestorskie */

.investors-relationships-menu-structure-container {
	// ul#investors-relationships-menu-structure
	margin-top: 2rem;

	ul {
		margin: 0;
		list-style: none;
	}

	a {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			height: 2px;
			width: 0%;
			background: black;
			left: 0;
			bottom: -0.25em;
			transition: all 0.3s ease-in-out;
		}

		&:hover {
			@media screen and (max-width: 992px) {
				font-weight: 600;
			}

			@media screen and (min-width: 992px) {
				&:before {
					content: "";
					position: absolute;
					height: 2px;
					width: 100%;
					background: black;
					left: 0;
					bottom: -0.25em;
				}
			}
		}
	}

	#investors-relationships-menu-structure {
		padding: 0;
		text-align: center;

		& > li {
			margin-bottom: 2rem;

			& > a {
				font-weight: 700;
				@include fluid-type($min_width, $max_width, 20px, 22px);
			}
		}
	}

	.sub-menu {
		margin-top: 1rem;
		padding-left: 1em;

		li {
			padding: 0.45em 0;

			a {
				@include fluid-type($min_width, $max_width, 16px, 18px);
			}
		}
	}

	// .menu-parent-link > a {

	// }
}

/* MANAGEMENT */

.page-template-management-page-template {
	h3 {
		text-align: center;
	}
}

.management {
	&__container {
		flex-wrap: wrap;
		margin-top: 10rem;

		@media screen and (min-width: 992px) {
			display: flex;
			column-gap: 4rem;
			justify-content: space-between;
		}

		&--top {
			margin-top: 5rem;
			margin-bottom: 5rem;

			.person {
				margin-bottom: 0;
			}
		}

		// &--bottom {
		// 	.person {
		// 		max-width: 28%;
		// 	}
		// }
	}
}

.person {
	padding: 0 2em 1em;
	border: 2px solid $color__border-media;
	flex: 1 1 28%;
	margin-bottom: 10rem;
	display: flex;
	flex-flow: column;
	justify-content: space-between;

	@media screen and (min-width: 992px) {
		flex: 1 1 28%;
	}

	&__image-holder {
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translateY(-50%);

		img {
			object-fit: cover;
			width: 10rem;
			height: 10rem;
			border-radius: 50%;
			overflow: hidden;
		}
	}

	&__header {
		transform: translateY(-50%);
	}

	&__name {
		text-align: center;
		font-weight: 700;
		@include fluid-type($min_width, $max_width, 18px, 20px);

		p {
			margin: 0;
		}
	}

	&__role {
		p {
			text-align: center;
			font-style: italic;
			margin-top: 0.5em;
			@include fluid-type($min_width, $max_width, 13px, 15px);
		}
	}

	&__description {
		transform: translateY(-2rem);
		p {
			margin: 0;
		}
	}
}

/* SHAREHOLDING */

.page-template-shareholding-structure-page-template {
	.content__wrapper {
		@media screen and (max-width: 992px) {
			padding: 3em 0em;
		}
	}
}

.shareholding {
	&__container {
	}

	&__position.header p {
		color: black;
		font-weight: 700;
	}

	&__position {
		justify-content: center;
		margin: auto;
		cursor: pointer;

		& > * {
			flex: 1;
		}

		@media screen and (min-width: 992px) {
			// width: fit-content;
			max-width: 85%;
		}
	}

	.media-post {
		flex-flow: row;
		padding: 10px 0;
		column-gap: 1em;
	}

	.media-post__title {
		padding-right: 0;
		justify-content: center;
		width: 20%;
	}

	.media-post p {
		padding-left: 0rem;
		text-align: center;

		@include fluid-type($min_width, $max_width, 10px, 18px);
	}

	.name p {
		text-align: left;
	}
}
